# PyCity Schools Challenge

In [1]:
# Initial setup
import pandas as pd

In [2]:
# Files from Resources folder
school_datafile = "Resources/schools_complete.csv"
student_datafile = "Resources/students_complete.csv"

# CSV files to Pandas DataFrames
school_csv = pd.read_csv(school_datafile)
student_csv = pd.read_csv(student_datafile)

# Combine all to single dataset
school_df = pd.merge(student_csv, school_csv, how="left", on=["school_name", "school_name"])
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [3]:
# Total number of unique schools
school_count = len(school_df["School ID"].unique())
school_count

15

In [4]:
# Total number of students
student_count = len(school_df["Student ID"].unique())
result = f'{student_count:,.0f}'
print(result)

39,170

In [5]:
# Total budget
total_budget = school_csv["budget"].sum()
result = f'${total_budget:,.0f}'
print(result)

$24,649,428

In [6]:
# Average math score
average_math_score = student_csv["math_score"].mean()
result = f'{average_math_score:,.2f}'
print(result)

78.99

In [7]:
# Average reading score
average_reading_score = student_csv["reading_score"].mean()
result = f'{average_reading_score:,.2f}'
print(result)

81.88

In [8]:
# % passing math (the percentage of students who passed math)
passing_math_count = school_df[(school_df["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
result = f'{passing_math_percentage:,.2f}%'
print(result)

74.98%

In [9]:
# % passing reading (the percentage of students who passed reading)
passing_reading_count = school_df[(school_df["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
result = f'{passing_reading_percentage:,.2f}%'
print(result)

85.81%

In [10]:
# % overall passing (the percentage of students who passed math AND reading)
passing_math_reading_count = school_df[(school_df["math_score"]>=70) & (school_df["reading_score"]>=70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
result = f'{overall_passing_rate:,.2f}%'
print(result)

65.17%

In [11]:
# High-level snapshot of the district's key metrics in a DataFrame
district_titles = [{"Total Schools": school_count,
                    "Total Students": student_count,
                    "Total Budget": total_budget,
                    "Average Math Score": average_math_score,
                    "Average Reading Score": average_reading_score,
                    "% Passing Math": passing_math_percentage,
                    "% Passing Reading": passing_reading_percentage}]

district_summary = pd.DataFrame(district_titles)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,.0f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.0f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,"39,170","24,649,428",78.99%,81.88%,74.98%,85.81%

# School Summary

In [12]:
# School name
school_name = school_df.set_index("school_name").groupby(["school_name"])

In [13]:
# School type
school_types = school_csv.set_index(["school_name"])["type"]

In [14]:
# Total students
per_school_counts = len(school_df["Student ID"].unique())
result = f'{per_school_counts:,.0f}'
print(result)

39,170

In [15]:
# Total school budget
total_school_budget = school_csv["budget"].sum()
result = f'${total_school_budget:,.0f}'
print(result)

$24,649,428

In [16]:
# Per student budget
per_student_budget = total_school_budget / per_school_counts
result = f'${per_student_budget:,.2f}'
print(result)

$629.29

In [17]:
# Average math score
per_school_math = school_df.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
per_school_math

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: object

In [18]:
# Average reading score
per_school_reading = school_df.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
per_school_reading

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.95
Name: reading_score, dtype: object

In [19]:
# % passing math (the percentage of students who passed math)
passing_math_count = school_df[(school_df["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
result = f'{passing_math_percentage:,.2f}%'
print(result)

74.98%

In [20]:
# % passing reading (the percentage of students who passed reading)
passing_reading_count = school_df[(school_df["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
result = f'{passing_math_percentage:,.2f}%'
print(result)

74.98%

In [21]:
# % overall passing (the percentage of students who passed math AND reading)
passing_math_and_reading = school_df[(school_df["reading_score"] >=70) & (school_df["math_score"] >=70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
# DataFrame that summarizes key metrics about each school
school_titles = [{"School Name": school_name,
                 "School Type": school_types,
                 "Total School Budget": total_school_budget,
                 "Per Student Budget": per_student_budget,
                 "Average Math Score": per_school_math,
                 "Average Reading Score": per_school_reading,
                 "% Passing Math": passing_math_percentage,
                 "% Passing Reading": passing_reading_percentage,
                 "% Overall Passing": passing_math_and_reading}]

school_summary = pd.DataFrame(school_titles)

school_summary["Total School Budget"] = school_summary["Total School Budget"]
school_summary["Per Student Budget"] = school_summary["Per Student Budget"]
school_summary["Average Math Score"] = school_summary["Average Math Score"]
school_summary["Average Reading Score"] = school_summary["Average Reading Score"]
school_summary["% Passing Math"] = school_summary["% Passing Math"]
school_summary["% Passing Reading"] = school_summary["% Passing Reading"]


school_summary

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,24649428,629.293541,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,74.980853,85.805463,Student ID student_name gender grad...

# Highest-Performing Schools (by % Overall Passing)

In [23]:
# Sort the schools by "% Overall Passing" in descending order and display the top 5 rows.
highest_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
highest_schools.head()

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,24649428,629.293541,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,74.980853,85.805463,Student ID student_name gender grad...

# Lowest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by "% Overall Passing" in descending order and display the top 5 rows.
lowest_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
lowest_schools.tail()

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,24649428,629.293541,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,74.980853,85.805463,Student ID student_name gender grad...

# Math Scores by Grade

In [25]:
# DataFrame that lists the average math score for students of each grade level (9th, 10th, 11, 12th) at each school
ninth_graders = school_df[(school_df["grade"] == "9th")].groupby(["school_name"]).mean()["math_score"].map("{:,.1f}%".format)
tenth_graders = school_df[(school_df["grade"] == "10th")].groupby(["school_name"]).mean()["math_score"].map("{:,.1f}%".format)
eleventh_graders = school_df[(school_df["grade"] == "11th")].groupby(["school_name"]).mean()["math_score"].map("{:,.1f}%".format)
twelfth_graders = school_df[(school_df["grade"] == "12th")].groupby(["school_name"]).mean()["math_score"].map("{:,.1f}%".format)

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders,
    "10th": tenth_graders,
    "11th": eleventh_graders,
    "12th": twelfth_graders})

math_scores_by_grade.index.name = None

math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.1%  77.0%  77.5%  76.5%
Cabrera High School    83.1%  83.2%  82.8%  83.3%
Figueroa High School   76.4%  76.5%  76.9%  77.2%
Ford High School       77.4%  77.7%  76.9%  76.2%
Griffin High School    82.0%  84.2%  83.8%  83.4%
Hernandez High School  77.4%  77.3%  77.1%  77.2%
Holden High School     83.8%  83.4%  85.0%  82.9%
Huang High School      77.0%  75.9%  76.4%  77.2%
Johnson High School    77.2%  76.7%  77.5%  76.9%
Pena High School       83.6%  83.4%  84.3%  84.1%
Rodriguez High School  76.9%  76.6%  76.4%  77.7%
Shelton High School    83.4%  82.9%  83.4%  83.8%
Thomas High School     83.6%  83.1%  83.5%  83.5%
Wilson High School     83.1%  83.7%  83.2%  83.0%
Wright High School     83.3%  84.0%  83.8%  83.6%

# Reading Scores by Grade

In [26]:
# DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11, 12th) at each school
ninth_graders = school_df[(school_df["grade"] == "9th")].groupby(["school_name"]).mean()["reading_score"].map("{:,.1f}%".format)
tenth_graders = school_df[(school_df["grade"] == "10th")].groupby(["school_name"]).mean()["reading_score"].map("{:,.1f}%".format)
eleventh_graders = school_df[(school_df["grade"] == "11th")].groupby(["school_name"]).mean()["reading_score"].map("{:,.1f}%".format)
twelfth_graders = school_df[(school_df["grade"] == "12th")].groupby(["school_name"]).mean()["reading_score"].map("{:,.1f}%".format)


reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders,
    "10th": tenth_graders,
    "11th": eleventh_graders,
    "12th": twelfth_graders})

reading_scores_by_grade.index.name = None

reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.3%  80.9%  80.9%  80.9%
Cabrera High School    83.7%  84.3%  83.8%  84.3%
Figueroa High School   81.2%  81.4%  80.6%  81.4%
Ford High School       80.6%  81.3%  80.4%  80.7%
Griffin High School    83.4%  83.7%  84.3%  84.0%
Hernandez High School  80.9%  80.7%  81.4%  80.9%
Holden High School     83.7%  83.3%  83.8%  84.7%
Huang High School      81.3%  81.5%  81.4%  80.3%
Johnson High School    81.3%  80.8%  80.6%  81.2%
Pena High School       83.8%  83.6%  84.3%  84.6%
Rodriguez High School  81.0%  80.6%  80.9%  80.4%
Shelton High School    84.1%  83.4%  84.4%  82.8%
Thomas High School     83.7%  84.3%  83.6%  83.8%
Wilson High School     83.9%  84.0%  83.8%  84.3%
Wright High School     83.8%  83.8%  84.2%  84.1%

# Scores by School Spending

In [52]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [53]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = school_summary.copy()

In [58]:
# Use 'pd.cut' to categorize spending based on the bins.
school_spending_df[("Spending Ranges (Per Student)")] = pd.cut([per_student_budget], spending_bins, labels=labels)

school_spending_group = school_spending_df.groupby("Spending Ranges (Per Student)").mean()
school_spending_group

,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading
Spending Ranges (Per Student),,,,
<$585,NaN,NaN,NaN,NaN
$585-630,24649428.0,629.293541,74.980853,85.805463
$630-645,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN

# Scores by School Size

In [84]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

 
school_summary["School Size"] = pd.cut([school_summary], size_bins, labels=labels)

school_size_grouped = school_data_summary.groupby("School Size").mean() 


school_size_grouped

ValueError: Input array must be 1 dimensional

# Written Report

In [ ]:
# Written report for PyCitySchools Challenge

(1) From what I can see within the district summary, the schools performed higher in the Reading category which the
averages where in the 80+ percentage. The schools performed lower in the mathematics category with only 74% on 
average compared to reading. This of course is the district performance as a whole and not at an individual level.


(2) From what I can see within the the school summary, Pena High School performed higher in mathematics than any 
other school within the district at 83.84% and the lowest performing school was Figuroa High School at 76.71%. In
reading, Pena High School again has outperformd the rest of the district at 84% while Ford High School performed 
the lowest compared to the rest of the schools at 80.75%.